__pycache__
docs/TODO.md
results/demos/
results/ensemble/
results/simple_ensemble/
results/FC/
results/FCgsr/
results/SC/
tests/
brainmontageplot/
ann4brains/

data/training_data
data/tractography_subcortical (SC)
data/FC
data/parker
data/data_with_subject_ids